
.group-container{
    gap: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header span{
    cursor: pointer;
}
.group-option{
    display: flex;
    gap:10px;
}
.menu-bar {
    background-color: #f4c57f;
    cursor: pointer;
    color: #000;
    margin: 10px 0;
    width: 100%;
}
.menu-bar:hover {
    background-color: #e4c18d;
}
.group-bar {
    background-color: #c6a26d;
    cursor: pointer; 
    color: #000;
    margin: 10px 0;
    word-wrap: break-word;
    width: 100%;
}
.group-bar:hover {
    background-color: #b5966c;
}
#create {
    border: 7px solid white;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
