.group-container{
    display: flex;
    flex-direction: column;
    margin:20px;
    background-color: white;
    border-radius: 20px;
    color:grey;
}
.group-container button:hover{
    background-color: initial;
}
.group-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.group-option{
    display: flex;
    gap:20px;
    justify-content: center;
    font-size:16px;
    color:#555;
    position: relative;
}
.group-option span{
    cursor:pointer;
    padding:5px 10px;
    position: relative;
}
.group-header .tab.active {
    color: rgb(238 174 119); /* 활성화된 탭의 글자 색 */
}

/* 활성화된 탭 아래 선 */
.group-header .tab.active::after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgb(238 174 119); /* 선의 색상 */
    width: 100%;
    position: absolute;
    bottom: -5px; /* 글자 아래 간격 */
    left: 0;
}
.menu-toggle{
    all:unset;
    display: flex;
    flex-direction: column;
    width:100%
}
.menu-bar, .group-bar{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    color:black;
    padding-right: 20px;
}
.title-bar{
    display: flex;
    gap:10px;
    align-items: center;
}
.title-bar #toggle-button{
    width:30px;
    height:30px;
    text-align: center;
    padding: 0;
    color:black;
    background-color: white;
}
.groups{
    border-radius: 20px;
    border:1px solid #adadaf;
    margin: 10px 0 10px 30px;
}
.groups .plans .plan{
    padding:20px;
    border-top: 1px solid #adadaf;
}
.groups .plans .plan:first-child{
    border-bottom: initial;
}
.groups .plans .attribute-bar{
    margin-left:4rem;

}
.group-bar {
    background-color: initial;
    border-radius: 0;
    border-bottom: 1px solid #adadaf;
    cursor: pointer;
    color: #000;
    padding: 20px;
    word-wrap: break-word;
    width: 100%;
}
.groups .group-toggle:last-child .group-bar{
    border-bottom: initial;
}
.action{
    background-color: rgb(238 174 119);
    color:white;
    border-radius: 10px;
}
.state{
    padding: 2px 10px;
    font-size:0.95rem;
    border-radius: 20px;
}
.state#\30{
    color: #525463;
    background-color: #3e404c29;
}
.state#\31{
    color:#1d6ce0;
    background-color: rgba(80, 148, 250, .1607843137);;
}
.state#\32{
    color:#d91c29;
    background-color: rgba(245, 83, 94, .1607843137);
}
.attribute-bar{
    display: flex;
    text-align: center;
    margin-left: 20px;
    gap:20px;
    align-items: center;
}
.attribute-bar span{
    text-align: center;
    white-space: pre-line;
    display: block;
}
.attribute-bar #leader,#authority{
    width: 100px;
}
.attribute-bar #date{
    width:200px;
}
