
.header{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-left:2rem;
}
.group-title{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
#back{
    background-color: gray;
    opacity: 0.5;
    border-radius: 5px;
    padding: 2px 2px 3px 3px;
    font-size: 20px;
}
.action-bar{
    display: flex;
    gap:10px;
    margin-right: 2rem;
    cursor: pointer;
    justify-content: center;
}
.action-bar span{
    border: 5px solid white; 
    background-color: white;
    border-radius: 5px;
}
.group-summary{
    display: flex;
    border-radius: 5px;
    border:1px solid black;
    padding: 10px;
    justify-content: space-evenly;
    background-color: white;
}

.column{
    display:flex;
    flex-direction: column;
}
.summary{
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.plans{
    display: flex;
    justify-content: space-between;
    margin:10px;
    align-items: flex-end;
    gap: 10px;
}
.plans .plan{
    display: flex;
}
.plans input{
    display: flex;
    border:none;
    width: 200px;
    margin: 0;
}
.plans span{
    cursor: pointer;
    border-radius: 5px;
}
#plan-create {
    border: 5px solid white;
    background-color: white; 
    border-radius: 5px; 
    cursor: pointer;
}
