
.form-container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fafafa;
    outline: none;
    margin-bottom: 10px;
}

.submit-btn {
    width: 100%;
    margin-top: 20px;
}

.link-options {
    margin-top: 20px;
    font-size: 14px;
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}

.link-options:hover {
    text-decoration: underline;
}
#userid {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.form-group button {
    width: 100%;
}
