.homebody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-size: cover;
    margin: 0;
    overflow: hidden;
  }
  
  .homemain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .book-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    max-width: 1200px;
  }
  
  .side-book {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: white;
  }
  
  .side-book.left {
    margin-left: 10px;
    width: 200px;
    height: 100px;
  }
  
  .side-book.right {
    margin-right: 10px;
    width: 200px;
    height: 100px;
  }
  
  .book-item {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: white;
    margin: 0 20px;
  }
  
  .arrow-icon {
    font-size: 48px;
    cursor: pointer;
    user-select: none;
    width: 48px;
    height: 48px;
  }
  
  .arrow-left {
    margin-right: 20px;
  }
  
  .arrow-right {
    margin-left: 20px;
  }
