.homebody {
    font-family: Arial, sans-serif;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.homeheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
}


.book-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    width: 100%; 
}

.book-item {
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 1; 
}


.side-book {
    width: 150px;
    height: 200px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
}

.side-book.left {
    left: 0; 
    margin-left: 20px; 
}

.side-book.right {
    right: 0; 
    margin-right: 20px; 
}


.arrow-icon {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2; 
}

.arrow-left {
    left: calc(50% - 230px); 
}

.arrow-right {
    right: calc(50% - 230px); 
}
