* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainbannerbody {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}



.mainbannerheader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fcd5a6;
    padding: 20px 20px;
    position: relative;
}


.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}


#searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchSection h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px; 
}
.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-bar a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-icon {
    font-size: 24px;
    background: none;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}


.search-container input[type="text"] {
    width: 250px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: none;
}

.search-container input[type="text"]::placeholder {
    color: #000000;
}

.search-container input[type="text"]:focus {
    border-bottom: 2px solid #000;
}


.search-container .search-icon {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.search-icon img {
    width: 30px;
    height: 30px;
}


.header-icons {
    display: flex;
    align-items: right;
    margin-left: auto;
    
}

.header-icons .icon {
    font-size: 24px;
    background: none;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}
