<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Premium</title>
</head>
<body>

    <div class="container">
        <!-- 로고 -->
        <div class="logo">
            <img src=".png" alt="Bookweb Premium">
        </div>

        <!-- 메인 텍스트 -->
        <div class="main-text">
            <h1>Bookweb의 모든 것을 자유롭게 사용해보세요.</h1>
            <p>오프라인 다운로드, 대여, 소장을 자유롭게 사용 보장</p>
            <p>월 10000w, 언제든지 취소 가능</p>
        </div>

        <!-- 가입 버튼 -->
        <div class="button">
            <button>Bookweb Premium 가입</button>
            <p>정기 결제이며 취소 시까지 자동 청구됩니다.</p>
        </div>

        <!-- 하단 설명 아이콘 -->
        <div class="features">
            <div class="feature-item">
                <img src="Use_free.png" alt="자유로운 이용">
                <p>대여와 소장시 별도의 결제없이 자유롭게 이용 가능합니다.</p>
            </div>
            <div class="feature-item">
                <img src="offline.png" alt="오프라인 재생">
                <p>책을 오프라인 저장하여 인터넷 연결이 없어도 마음껏 감상하세요.</p>
            </div>
        </div>
    </div>

</body>
</html>
