
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
}

.profile-section {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.profile-pic {
    position: relative;
    margin-right: 20px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-pic .edit-icon {
    background-color: #eedfa1;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.nick-name, .group {
    margin-bottom: 15px;
    display: flex;
    height: 50px;
}

.nick-name input, .group input {
    margin-left: 10px;
}

.nick-name .edit-icon, .group .house-icon {
    margin-left: 10px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
}

.sidebar {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar ul li {
    border-bottom: 1px solid #ddd;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #007bff;
}

.sidebar ul li a:hover {
    background-color: #f8f8f8;
}

.box-panel {
    border-radius: 5px;
    background-color: #fff;
}
