.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-card {
    width: calc(20% - 10px); /* 5개가 한 줄에 들어가도록 설정 */
    height: 230px;
    background-color: lightgray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.product-card img {
            width: 150px;
            height: 100px;
        }

.product-card:hover{
  transform: scale(1.1);
  filter: brightness(0.7); /* 마우스가 들어오면 연하게*/
}
.product-title{
font-size: 16px;
white-space: nowrap;
}

.product-description {
  position: absolute;
  text-overflow: ellipsis;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .product-description {
  opacity: 1;
}