.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.product-card {
  width: calc(20% - 10px); /* 5개가 한 줄에 들어가도록 설정 */
  height: auto;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-card img {
          width: 100%;
          height: 90px;
      }

.product-card:hover{
transform: scale(1.1);
filter: brightness(0.7); /* 마우스가 들어오면 연하게*/
}
.product-title{
font-size: 14px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
}
.product-author {
font-size: 11px;
}
.product-rank {
font-size: 15px;
}
.product-description {
position: absolute;
text-overflow: ellipsis;
color: white;
text-align: center;
background: rgba(0, 0, 0, 0.5);
padding: 10px;
border-radius: 8px;
opacity: 0;
transition: opacity 0.3s ease;
}

.product-card:hover .product-description {
opacity: 1;
}
.pagination {
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #d0d0d0;
}
.category-section {
  font-size: 14px;
}
