
header h1 {
    font-size: 28px;
    color: #262626;
}

#writePost h2 {
    font-size: 24px;
    color: #262626;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #8e8e8e;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #333; 
    outline: none;
    margin-bottom: 15px;
}

input::placeholder, 
textarea::placeholder {
    color: #ccc;
}

button[type="submit"]:hover {
    background-color: #318be5; 
}
.submit-button {
    width: 200px;
    padding: 10px;
    background-color: #e1a73c;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#writePost input[type="text"] {
    width: 100%;
}
#content {
    width: 100%;
}
#visibility {
    width: 100%;
}

