#searchSection_2 {
    position: relative;
    margin-bottom: 30px;
    align-items: center;
}

#searchSection_2 h2 {
    margin-bottom: 10px;
}

#postList table {
    width: 100%;
    border-collapse: collapse;
}

#postList th, #postList td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#postRegistration {
text-align: right;
}

#searchSection_2 button {
    width: 100px;
    background-color: #fbdfad;
    color: black;
    margin: 10px;
}
#postRegistration button {
    width: 70px;
    font-size: 10px;
    padding: 10px 5px;
    background-color: #fbdfad;
    color: black;
}
thead th {
    color: black;
}
