
header h1 {
    font-size: 28px;
    color: #262626;
    margin-bottom: 10px;
}

section h2 {
    color: #262626;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

thead th {
    font-size: 14px;
    color: #8e8e8e; 
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
}

tbody td {
    font-size: 14px;
    color: #262626; 
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}


tbody tr:hover {
    background-color: #fafafa;
}


@media (max-width: 600px) {
    table {
        font-size: 12px;
    }

    thead th, tbody td {
        padding: 8px;
    }
}
